.dsf-filter{
    margin-top: 20px;
    padding: 20px;
    background-color: var(--bg-secondary);
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 5px;
}
.dsf-filter-input{
    width: 200px;
    height: 40px;
    border:solid 1px var(--border-primary);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    outline: none;
}
.dsf-filter-input::-webkit-input-placeholder {
    color: var(--font-color-placeholder);
 }
.dsf-filter-btn{
    width: 200px;
    height: 40px;
    background-color: var(--bg-tertiary);
    color: var(--bg-secondary);
    border: none;
    border-radius: 5px;    
    font-size: 16px;    
    font-weight: 700;
}
