.dsf-product{
    border:solid 1px var(--border-secondary);
    border-radius: 5px;
    padding: 10px;    
}
.dsf-product p{
    font-size: 12px;
    font-weight: 400;
    color: var(--font-color-primary);
}
.dsf-product h2{
    font-size: 16px;
    font-weight: 700;
    color: var(--font-color-secondary);
}