@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');

:root {
  font-family: Roboto, Inter, Arial, sans-serif;  
  font-size: 12px;
  font-weight: 400;
  --bg-primary: #C2C2C2;
  --bg-secondary: #FFF;
  --bg-menu: #55BC04;

  --border-primary: #C2C2C2;
  --border-secondary:#55BC04; 

  --font-color-primary: #6F6F6F;
  --font-color-secondary: #55BC04;
  --font-color-tertiary: #FFF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
a:hover{
  cursor: pointer;
}